.button {
  -fx-background-color: #242f9b;
  -fx-text-fill: #fff;
}
.toggle-button {
  -fx-background-color: #242f9b;
  -fx-text-fill: #fff;
}
.toggle-button:hover {
  -fx-background-color: #10165f;
}
.toggle-button:pressed {
  -fx-background-color: #1620a1;
}
.toggle-button:selected {
  -fx-background-color: #84ffff;
  -fx-text-fill: #222;
}
.button:hover {
  -fx-background-color: #10165f;
}

.button:pressed {
  -fx-background-color: #1620a1;
}

.scroll-pane {
  -fx-background-color: #eceff1;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.increment-button,
.decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #10165f;
  -fx-background-radius: 5em;
}

.scroll-pane > .corner {
  -fx-background-color: #eceff1;
}
